.cover-image{
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.cover-image .container{
    padding-top: 200px;
}
@media (max-width:992px) {
    .cover-image .container {
        padding-top: 100px;
    }
    .recoment-row img,
    .recoment-row h5,
    .recoment-row h4,
    .recoment-row h3 {
        margin: auto;
        display: block;
        text-align: center;
        float: unset!important;
        text-align: center;
    }
    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .recoment-row img {
        margin-bottom: 15px;
    }
    .ptb-100{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}