
/* intro-large */
.intro-large .card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.intro-large .js-flickity .gallery-cell {
    margin-right: 0;
}

.intro-large .card-action {
    border: none;
    border-bottom: 1px solid white;
    height: 80px;
    line-height: 40px;
}

.card-content a.default-text {
    font-size: 20px;
    margin: 15px 0;
}

.intro-large .gallery,
.intro-large .gallery-cell,
.intro-large .gallery img {
    height: 580px;
}

.intro-large .caption {
    position: absolute;
    left: 10%;
    top: 30%;
    color: #ffffffcf;
}

.player-example-large>hr {
    margin-bottom: 10px;
}

.contact-large .card-panel {
    border: 1px solid var(--xlt-primary-color);
}

.video-recomment {
    width: 800px;
}

.video-recomment .caption {
    position: relative;
    margin: auto;
    width: 800px;
    margin-top: -140px;
}

.modal ul:not(.browser-default)>li {
    list-style-type: disc;
}

.our-service-large img {
    border-radius: 20px;
}

.our-service-large .overlay-blur {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.our-service-large .overlay-container article {
    top: -133px;
}

.our-service-large .flickity-viewport {
    height: 450px;
    margin-top: 35px;
    padding-top: 30px;
}

/* responsive */
@media(max-width:600px) {
    .our-service-large img {
        height: 350px;
    }

    .our-service-large .js-flickity {
        height: 400px !important;
    }

    .video-recomment {
        padding-top: 0;
    }
}

@media (max-width: 992px) {
    .intro-large .card {
        margin-top: 100px;
    }

    section {
        padding: 15px;
    }

    marquee {
        width: 100%;
    }

    .intro-large .card-content {
        height: auto !important;
    }

    .video-recomment,
    .video-recomment .caption {
        width: 100%;
    }

    .center-small-down {
        text-align: center;
    }

    .intro-large .card {
        background: rgb(98 126 171 / 25%);
    }

    .intro-large .gallery,
    .intro-large .gallery-cell,
    .intro-large .gallery img {
        height: 400px;
    }

    .our-service-large .overlay-blur.light {
        height: 130px;
    }
}