body {
    background-image: url(../images/bg/01.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


/* intro-large */
.intro-large .card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.intro-large .card-action {
    border: none;
    border-bottom: 1px solid white;
    height: 80px;
    line-height: 40px;
}

.card-content a.default-text {
    font-size: 20px;
    margin: 15px 0;
}

.intro-large .gallery,
.intro-large .gallery-cell,
.intro-large .gallery img {
    height: 580px;
}

.intro-large .caption {
    position: absolute;
}
.player-example-large>hr {
    margin-bottom: 10px;
}

.player-example-large video {
    height: 44vw;
}

.our-client-large .btn-floating {
    position: relative;
    top: -400px;
    margin: 5%
}

marquee img {
    margin: 0 25px;
}

.contact-large .card-panel {
    border: 1px solid var(--xlt-primary-color);
}


/* responsive */
@media (max-width:600px){}
@media (max-width: 992px) {
    .intro-large .card {
        margin-top: 100px;
    }

    section {
        padding: 15px;
    }
    marquee {
        width: 100%;
    }
}
