main {
    background-image: url(../images/bg/exelt-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* intro-large */
.intro-large .card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.intro-large .card-action {
    border: none;
    border-bottom: 1px solid white;
    height: 80px;
    line-height: 40px;
}

.card-content a.default-text {
    font-size: 20px;
    margin: 15px 0;
}

.intro-large .gallery,
.intro-large .gallery-cell,
.intro-large .gallery img {
    height: 580px;
}

.intro-large .caption {
    position: absolute;
}
.player-example-large>hr {
    margin-bottom: 10px;
}


.our-client-large .btn-floating {
    position: relative;
    top: -400px;
    margin: 5%
}

marquee img {
    margin: 0 25px;
}

.contact-large .card-panel {
    border: 1px solid var(--xlt-primary-color);
}
.video-recomment .caption{
    position: relative;
    margin: auto;
    width: 800px;
    margin-top: -10%;
}

/* responsive */
@media (max-width:600px){
    
}
@media (max-width: 992px) {
    .intro-large .card {
        margin-top: 100px;
    }

    section {
        padding: 15px;
    }
    marquee {
        width: 100%;
    }
    .intro-large .card-content{
        height: auto!important;
    }
    .video-recomment{
        width: 100%;
    }
    .center-small-down{
        text-align: center;
    }
}

/* Staff Review */
.staff-row{
    margin-bottom: 100px;
}
.staff-row a>img {
    width: 100%;
    object-fit: cover;
}

.staff-row .gallery-cell a,
.staff-row .gallery-cell a>img {
    height: 330px;
    display: block;
}

.staff-row a article {
    height: 70px;
}

.staff-row article .flag-img {
    z-index: 5;
    position: relative;
}

.staff-row .overlay-container article {
    top: -70px;
}

/*  */
/* smaller, dark, rounded square */
.flickity-button {
    background: #333;
  }
  .flickity-button:hover {
    background: #F90;
  }
  
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  /* position outside */
  .flickity-prev-next-button.previous {
    left: -40px;
  }
  .flickity-prev-next-button.next {
    right: -40px;
  }