@media (max-width:1200px) {

    .recoment-row img,
    .recoment-row h5,
    .recoment-row h4,
    .recoment-row h3 {
        margin: auto;
        display: block;
        text-align: center;
        float: unset !important;
        text-align: center;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .recoment-row img {
        margin-bottom: 15px;
    }

    section.ptb-100 {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .competitive-row .overlay-container {
        margin-bottom: 30px;
    }
}

.competitive-row .overlay-container {
    height: 500px;
}

.competitive-row .overlay-blur {
    height: 100%;
}
.competitive-row .overlay-container article {
    top: -122px;
}
.competitive-row .overlay-blur {
    background: rgb(98, 126, 172);
}