    @import url('./variables.css');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @import url("https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700,800,900");
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

    @font-face {
        font-family: 'gilroy';
        src: url("./../fonts/gilroy/bold.otf");
    }

    html {
        scroll-behavior: smooth;
    }

    [lang*='en'] {
        font-family: 'Google Sans';
    }

    [lang*='th'] {
        font-family: 'Prompt', sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: inherit;
    }

    span,
    strong,
    small,
    article,
    p {
        line-height: 27px;
    }

    .thing-text {
        font-weight: 200;
    }

    .center {
        margin: auto;
        display: block;
    }

    section {
        padding: 5%;
    }

    .paragraph {
        text-indent: 1cm;
    }

    .mt-0 {
        margin-top: 0;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .mtb-0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .p-0 {
        padding: 0 !important;
    }

    .p-10 {
        padding: 10px;
    }
    .ptb-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ptb-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .cover {
        object-fit: cover;
    }

    .contain {
        object-fit: contain;
    }

    .flex {
        display: inline-flex;
    }

    .scrollbar-style {
        overflow: auto;
        /* border: 1px solid var(--xlt-primary-color); */
    }

    .scrollbar-style::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .scrollbar-style::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }

    .scrollbar-style::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--xlt-secondary-color);

    }
    .shadow-text{
    text-shadow: var(--xlt-shadow-text);
    }
    .primary-text {
        color: var(--xlt-primary-color) !important;
    }

    .secondary-text {
        color: var(--xlt-secondary-color) !important;
    }

    .default-text {
        color: var(--xlt-default-color) !important;
    }


    /* form input */
    /* 
    .input-field {
        margin-top: 7px;
        margin-bottom: 7px;
    } */

    /* Button */

    [class*='btn-'] {
        border-radius: 100px;
        box-shadow: var(--xlt-shadow);
    }

    .btn-primary {
        background: var(--xlt-primary-gradient);
    }

    .btn-secondary,
    .btn-secondary:active,
    .btn-secondary:hover {
        color: var(--xlt-primary-color);
        background-color: white;
    }

    /* Responsive */

    @media (max-width: 600px) {
        #index-banner .section {
            top: 0;
        }
    }

    @media (min-width: 601px) and (max-width: 992px) {
        .parallax-container .section {
            position: absolute;
            top: 40%;
        }

        #index-banner .section {
            top: 10%;
        }
    }

    /*  overlay fiter blur*/

    .overlay-blur {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(0, 0, 0, 0.372);
        position: absolute;
        /* z-index: 0; */
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease;
    }

    .overlay-blur.light {
        background: rgba(230, 230, 230, 0.16);
    }

    .overlay-container:hover .overlay-blur {
        height: 100%;
    }

    .overlay-container article [class*='-text'],
    .overlay-container article .flag-img {
        z-index: 5;
        position: relative;
    }

    .overlay-container article {
        position: relative;
        top: -110px;
    }

    .carousel .indicators .indicator-item {
        background-color: var(--xlt-default-color);
    }

    .carousel .indicators .indicator-item.active {
        background-color: var(--xlt-primary-color);
    }

    /* Modal */
    .modal {
        max-height: 100%;
    }

    .mo-modal-fullscreen:focus {
        outline: none;
    }

    .mo-modal-fullscreen:focus {
        border: none;
    }

    @media (max-width: 600px) {
        .mo-modal-fullscreen {
            width: 100%;
            max-height: 100%;
            height: 100%;
            top: 0 !important;
        }

        .mo-modal-fullscreen {
            width: 100%;
            background: #f5f4f3;
            background: var(--xlt-default-gradient)
        }
    }

    /* Text Line */
    [class*='clamp-line'] {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .clamp-line-1 {
        -webkit-line-clamp: 1;
    }

    .clamp-line-2 {
        -webkit-line-clamp: 2;
    }

    .clamp-line-5 {
        -webkit-line-clamp: 5;
    }

    /* Flickity Gallery */
    .js-flickity .gallery-cell {
        width: 25%;
        margin-right: 10px;
        counter-increment: gallery-cell;
    }

    @media (max-width: 600px) {
        .js-flickity .gallery-cell {
            width: 100%;
        }
    }

    @media (min-width: 601px) and (max-width: 992px) {
        .js-flickity .gallery-cell {
            width: 33.33%;
        }
    }