header,
header>nav,
header>nav .nav-wrapper i,
header>nav a.sidenav-trigger i {
    height: 65px;
    line-height: 65px;
}

header>nav {
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgb(165 190 214 / 50%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

header>nav i.material-icons {
    font-size: 35px;
    margin: auto 0;
}

.brand-logo img {
    margin-top: 10px;
    width: auto;
}
 nav ul a:focus{
    border: 1px solid none;
    /* background: none; */
    outline: none;
    box-shadow: none;
}
header>nav ul a,
header>nav .btn {
    font-size: 18px;
}

.center.hide-on-med-and-down {
    position: unset;
    display: table;
}

.center.hide-on-med-and-down+.right {
    right: 0;
    position: absolute;
    top: 0;
}

.header-nav .brand-logo img {
    padding-left: 20px;
}

.header-nav .sidenav-trigger {
    display: block;
}
#service-dropdown {
    top: 75px !important;
}

/* For mobile */
.sidenav-overlay {
    z-index: 0 !important;
}

ul.sidenav li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--xlt-primary-color);
    padding: 5px 0;
}

ul.sidenav li:hover,
.sidenav li>a:hover {
    background-color: #e6e6e6;
}

ul.sidenav li.active,
ul.sidenav li.active>a:hover {
    background: var(--xlt-primary-gradient);
}

ul.sidenav li.active a {
    color: white !important;
}

ul.sidenav li:first-child,
ul.sidenav li:last-child {
    border: none;
}

ul.sidenav .dropdown-content li {
    border-bottom: none;
}

.sidenav li>a {
    width: 100%;
    margin: 0;
    font-size: 19px;
}

.collection.with-header .collection-header {
    border: none;
}

.sidenav li>a img {
    position: relative;
    top: 5px;
}

.sidenav-close>i {
    font-size: 40px;
}

@media (min-width:993px) and (max-width:1100px) {
    .hide-first-link {
        display: none;
    }

    .header-nav ul>li {
        display: block !important;
    }

    header>nav ul a,
    header>nav .btn {
        font-size: 15px;
    }

}

/* TEst */
ul#mo-service-dropdown{
    top: 235px!important;
}