header,nav {
    height: 64px;
}

.brand-logo img {
    margin-top: 10px;
    width: auto;
}

header>nav {
    position: fixed;
    top: 0;
    z-index: 100;
}

.center.hide-on-med-and-down {
    position: unset;
    display: table;
}

.center.hide-on-med-and-down+.right {
    right: 0;
    position: absolute;
    top: 0;
    line-height: 64px;
}

.header-nav .brand-logo img {
    padding-left: 20px;
}

.header-nav .sidenav-trigger {
    display: block;
}

header>nav {
    background: rgb(165 190 214 / 76%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    z-index: 100;
    box-shadow: none;
}
/* For mobile */
.sidenav-overlay {
    z-index: 0!important;
}
ul.sidenav li{
    border-bottom: 1px solid var(--exelt-primary-color);
}
ul.sidenav li:first-child, ul.sidenav li:last-child{
    border: none;
}
.sidenav li>a {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
}

.collection.with-header .collection-header {
    border: none;
}

.sidenav li>a img {
    position: relative;
    top: 5px;
}

@media (min-width:993px) and (max-width:1100px) {
    .hide-first-link {
        display: none;
    }
}

