blockquote {
    padding: 0 30px;
    border-left: 2px solid white;
}

blockquote:first-child {
    border: none;
}

@media (min-width:993px) {
    .flickity-prev-next-button.previous {
        left: -90px !important;
    }

    .flickity-prev-next-button.next {
        right: -90px !important;
    }
}

@media (max-width:992px) {
    .gallery-cell {
        width: 100% !important;
    }
}