    @import url('./variables.css');
    img {
        object-fit: cover;
    }
    
    .carousel.carousel-slider .carousel-fixed-item.with-indicators {
        bottom: 50%;
    }
    
    .carousel.carousel-slider .btn-floating {
        border: 3px solid white;
    }
    
    .carousel.carousel-slider .btn-floating i {
        font-size: 40px;
        display: contents;
    }
    
    section .scrollbar-style {
        overflow-y: auto;
        height: 440px;
    }
    
    .card.horizontal .card-image {
        max-width: 30%;
    }
    
    .card .card-content {
        padding: 0 15px;
    }
    
    .card.horizontal .card-image img {
        height: 105px;
        object-fit: cover;
        width: 100%;
    }
    
    .overlay-blur {
        height: 130px;
    }
    
    .scrollbar-style ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .scrollbar-style ul li {
        border-bottom: 1px solid lightgray;
        margin-bottom: 15px;
    }
    
    .scrollbar-style ul li:last-child {
        border-bottom-color: transparent;
        margin-bottom: 0;
    }
    
    .scrollbar-style ul li:last-child .card {
        margin-bottom: 0;
    }
    /* Responsive */
    
    @media (max-width: 600px) {
        section {
            padding-left: 0;
            padding-right: 0;
        }
        .scrollbar-style {
            height: 100%;
        }
    }
    
    @media (max-width: 992px) {
        .carousel-large .carousel,
        .carousel-large .carousel-item>img {
            height: 500px;
        }
    }