/* contact */

.contact-large {
    position: relative;
    z-index: 0;
    padding-bottom: 50px;
}

.contact-large .btn-primary.send-message {
    display: block;
    margin: auto;
}

.contact-large .speak-vector {
    position: absolute;
    left: -300px;
    margin-top: -600px;
    z-index: -1;
}

.contact-large .speak-vector img {
    width: 800px;
    height: 700px;
    transform: rotate(5deg);
}


/* footer */

.footer-large {
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='275' viewBox='0 0 1440 275' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1440' height='275' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='244.987' y1='25.3625' x2='374.088' y2='747.801' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23511A66'/%3E%3Cstop offset='0.96875' stop-color='%23CC3227'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-large .social-buttons {
    padding-top: 8%;
    text-align: center;
    display: flex;
    margin: auto;
}

.footer-large .social-buttons img {
    position: unset;
    z-index: 2;
}

.footer-large .social-buttons a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: #ffffff73;
    margin: auto;
}

.footer-large .social-buttons a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 1;
}

.footer-large .social-buttons a:focus,
.footer-large .social-buttons a:hover {
    color: #fff;
}

.footer-large .social-buttons a:focus::after,
.footer-large .social-buttons a:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.footer-large .social-buttons a::after {
    background: white;
}

.footer-large p {
    opacity: 0.6;
}

@media only screen and (max-width: 992px) {
    .footer-large .social-buttons {
        padding-top: 0;
    }
    .footer-large .social-buttons a {
        margin: 5px;
    }
}