/* Slide Carousel */
.carousel-large {
  height: 850px;
}
.carousel-large .carousel-fixed-item{
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 10;
  width: 550px;
}
.carousel-large .carousel-fixed-item h1{
  margin: 0;
  margin-left: 70px;
}
.carousel-large .carousel-fixed-item img{
  width: 100px;
  margin-left: 70px;
}
.carousel-large .carousel-fixed-item::after{
  content: url(../images/icon/words.png);
  width: 20px;
}
.carousel-large .carousel-fixed-item h1::before{
  width: 20px;
  float: right;
  position: relative;
  /* transform: rotate(190deg) scaleX(-1); */
  top: -30px;
}
.carousel-large .slider .indicators {
  bottom: 48px;
  z-index: 10;
}
.carousel-large .slider .indicators .indicator-item.active {
  background-color: #4CAF50;
  border: 1px solid red;
  border-radius: 100%;
}

/* How We Work */
.work-large {
  padding: 5% 0;
  background-color: lightgreen;
}

/* Video Media Block */
.video-media-large {
  background-color: deepskyblue;
  width: 100%;
  padding: 20% 0;
}
.video-media-large h1 {
  color: floralwhite;
  font-size: 40px;
  text-align: center;
}

/* Our Clients block */
.our-clients-large h1 {
  font-size: 35px;
  margin: 0;
  text-align: center;
}
.our-clients-large .video-review {
  width: 100%;
  height: 522px;
  object-fit: cover;
}
.our-clients-large .review-content {
  background-color: salmon;
  width: 100%;
  padding: 30px 60px;
  text-align: center;
}
.our-clients-large .review-content img {
  width: 100%;
  height: 297px;
}
.our-clients-large .review-content h4 {
  color: white;
  margin: 0;
  font-size: 16px;
}

/* About us*/
.kobfa-about-block {
  background-color: wheat;
  padding: 5% 0;
}
.kobfa-about-block img {
  width: 100%;
}
.staff-large-block img {
  width: 100%;
}
.staff-large-block h2 {
  font-size: 30px;
}
.kobfa-gray {
  width: 150px;
  margin: auto;
  display: block;
}
.review-staff-scoll {
  display: flex;
  overflow-x: auto;
  margin: auto;
}
.review-staff-scoll .section {
  margin: auto;
  display: block;
}
.review-staff-scoll a {
  width: 120px;
  height: 160px;
  margin: 13px 7px;
  float: left;
  padding: 0;
}
.review-staff-scoll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-staff-scoll article {
  position: absolute;
  bottom: 0;
}
.cover-staff-image {
  display: block;
}
@media only screen and (max-width: 600px) {
  .review-staff-scoll .card {
    float: unset;
  }
  .review-staff-scoll .section {
    margin: auto;
    display: flex;
  }
}

/* Blogs */
.blogs-large {
  background-color: turquoise;
  padding: 5% 0;
}
.blogs-large img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blogs-large article {
  position: relative;
  bottom: 0;
}
/* Content us */
.contact-large .row {
}

/* Footer */
footer {
  background-color: sienna;
  padding: 5%;
}
