@import url('./variables.css');

.speech-titile {
    width: 40%;
    position: absolute;
    margin-top: -20vh;
    margin-left: 3vw;
}

/* .flickity-prev-next-button {
    width: 56px !important;
    height: 56px !important;
} */

.carousel-large .caption {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.caption blockquote {
    border-left-color: white;
    line-height: 65px;
}

@media(max-width:600px) {

    .carousel-large .flickity-viewport,
    .carousel-large img {
        height: 500px !important;
    }

    .caption blockquote {
        line-height: 35px;
    }

    .caption blockquote h1 {
        font-size: 28px;
    }

    .caption blockquote h3 {
        font-size: 18px;
    }
}



@media (max-width: 600px) {
    .kobfa-about-large .exelt-button-link {
        margin: 10px 0;
    }
}


/* How we work */

.work-large {
    background-color: #ededed;
}

.work-large .tabs {
    display: initial;
    width: 100%;
}

.work-large .tabs .tab {
    text-align: left;
    height: fit-content;
}

.work-large .tabs .indicator {
    display: none;
    background: transparent;
}

.work-large .tabs .tab a .card-panel {
    border-radius: 19px;
    text-transform: capitalize;
    margin: 0;
    white-space: normal;
    line-height: 19px;
    padding: 15px;
}

.work-large .tabs .tab a:hover {
    background-color: transparent;
}

.work-large .card-panel,
.work-large .tabs .tab a {
    border-radius: 19px;
    margin: 10px 0;
}

.work-large .tabs .tab a.active {
    background: rgba(81, 26, 102, 0.2);
    -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.work-large video.responsive-video {
    height: 620px;
    margin-top: -95px;
}

.work-large .hide-on-large-only video {
    height: 300px;
    margin: auto;
    display: block;
}

.work-large .hide-on-large-only .card-panel {
    width: 95%;
    margin: 10px auto;
}

.carousel-fixed-item {
    position: relative;
    top: -100px;
}

@media (max-width: 992px) {

    .work-large h3,
    .work-large h5 {
        text-align: center;
    }

    .work-large video.responsive-video {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .work-large .container {
        width: 100%;
    }
}

/*  */

.plyr.plyr--stopped .plyr__controls {
    display: none
}

@media (max-width: 600px) {
    .video-media-large h3 {
        text-align: center;
    }
}


/* Staff Review */

.news-large-block a>img {
    width: 100%;
    object-fit: cover;
}

.news-large-block .gallery-cell a,
.news-large-block .gallery-cell a>img {
    height: 300px;
    display: block;
}

.news-large-block a article {
    height: 60px;
}

.news-large-block article .flag-img {
    z-index: 5;
    position: relative;
}

@media (max-width: 992px) {
    .overlay-blur {
        height: 100px;
    }
}

.news-large-block a article {
    height: 110px;
}

@media (max-width: 600px) {
    .img-staff-large .overlay-blur {
        height: 180px;
    }
}


.our-service-large img {
    border-radius: 10px;
}

.our-service-large .overlay-blur {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.our-service-large .overlay-container article {
    top: -115px;
}

.our-service-large .flickity-viewport {
    height: 450px;
    margin-top: 35px;
    padding-top: 30px;
}

@media(max-width:600px) {
    .our-service-large img {
        height: 350px;
    }

    .our-service-large .gallery-cell {
        width: 100% !important;
        padding: 25px;
    }
}

@media (max-width: 992px) {
    .our-service-large .overlay-blur.light {
        height: 100px;
    }

    .our-service-large .overlay-container article {
        top: -108px;
    }
}
@media (min-width:993px){
    .our-service-large .flickity-prev-next-button {
        position: unset;
        top: 120%;
    }
}

.news-large-block .img-staff-large {
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.news-large-block .img-staff-large article {
    height: 235px;
}

.news-large-block .overlay-container article {
    top: -110px;
}

.overlay-container.img-staff-large article {
    top: -240px;
    padding: 15px
}

.img-staff-large,
.img-staff-large>img {
    height: 500px;
}

.img-staff-large article>div {
    position: absolute;
}

.img-staff-large:hover .white-text img,
.img-staff-large .white-text img:last-child {
    display: none;
}

.img-staff-large:hover .white-text img:last-child {
    display: block;
}

@media (max-width: 992px) {
    .news-large-block .overlay-blur {
        height: 115px;
    }

    .img-staff-large .overlay-blur {
        height: 225px;
    }
}