section{
  padding: 5%;
}

/* speech title */
.speech-titile{
  z-index: 10;
  width: 550px;
  position: absolute;
  left: 10%;
}
.speech-titile h1::after,
.speech-titile h1::before{
  content: url(../images/icon/speech-1.png);
  width: 20px;
  position: absolute;
}
.speech-titile.gradient-mode h1::after,
.speech-titile.gradient-mode h1::before{
  content: url(../images/icon/speech-2.png);
}
.speech-titile h1::after {
  left: 0;
  bottom: -50px;
}
.speech-titile h1::before {
  transform: rotate(175deg);
  right: 0;
  top: -40px;
}
.speech-titile h1 {
  margin: 0;
  margin-left: 70px;
  text-align: left;
}

/* Slide Carousel */
.carousel-large {
  height: 850px;
}
.carousel-large .slider .indicators {
  bottom: 48px;
  z-index: 10;
}
.carousel-large .slider .indicators .indicator-item.active {
  background-color: #9E9E9E;
  border: 1px solid #ffffff;
  border-radius: 100%;
}
.carousel-large .speech-titile{
  bottom: 15%;
}
.carousel-large .speech-titile img {
  width: 100px;
  margin-left: 70px;
  position: absolute;
  top: -50%;
}


/* How We Work */
.work-large {
  padding: 5% 0 0;
}
.work-large h1 {
  font-size: 75px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  /* width: 350px; */
}
.work-large article {
  font-size: 17px;
}
.work-large .exelt-button-link {
  float: right;
  margin: 5% 0;
}
.work-large .tabs {
  display: inline;
}
.work-large .tabs .tab a.active, 
.work-large .tabs .tab a:focus, 
.work-large .tabs .tab a:focus.active{
  background-color: hsla(283, 59%, 25%, 0.263);
  color: #511a66;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.22);
  border-radius: 19px;
  padding: 30px 25px;
}
.work-large .tab a{
  padding: 30px 25px;
  border-radius: 19px;
}
.work-large .tabs h5 {
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.work-large .tabs p {
  margin: 0;
}
.work-large .tabs .tab {
  height: auto;
  text-align: left;
  display: flow-root;
  white-space: normal;
  line-height: 25px;
}
.work-large .tabs .indicator {
  background-color: transparent;
}

/* Video Media Block */
.video-media-large {
  width: 90%;
  margin: auto;
}
.video-media-large video{
  width: 100%;
}
.my-player-dimensions {
  width: 100%;
}
.video-media-large h1 {
  font-size: 40px;
}
.video-media-large .speech-titile{
  margin-top: -15%;
}

/* Our Clients block */
.our-clients-large{
  background-image: url(./../images/speak.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 140%;
  background-position-y: 100%;
  padding: 5% 5% 15%;
}
.our-clients-large h1 {
  font-size: 40px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}
.our-clients-large .plyr video,
.our-clients-large  video{
  height: 570px;
  width: 100%;
}
.our-clients-large button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.our-clients-large .tabcontent.active{
  display: block;
}
.our-clients-large .tabcontent {
  display: none;
}
.our-clients-large article{
  background-color: rgba(41, 41, 41, 0.53);
  padding: 25px;
  height: 570px;
  border-radius: 20px;
  color: white;
  text-align: center;
}
.our-clients-large article img {
  margin: 15px 0;
  width: 300px;
  height: 280px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 14.1529px 28.3058px rgba(0, 0, 0, 0.15);
}
.our-clients-large article h6{
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 -8px;
}
.our-clients-large h5{
  margin: 10px 0 0;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 17px;
}
.our-clients-large article h5{
  text-transform: lowercase;
}
.our-clients-large .carousel {
  height: 250px;
}
.our-clients-large .carousel .carousel-item{
  width: 175px;
  height: 175px;
}

/* About us*/
.kobfa-about-block {
  background-image: url("data:image/svg+xml,%3Csvg width='1522' height='1100' viewBox='0 0 1522 1100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.8032 85.4234C108.046 105.383 135.146 95.7751 156.554 83.7458C176.471 72.5553 201.444 54.1015 201.444 54.1015C232.355 32.9216 278.792 61.3076 278.792 61.3076C278.792 61.3076 341.195 97.9865 392.3 26.3064C443.045 -44.8781 516.636 50.9559 516.636 50.9559C592.625 130.219 635.327 130.103 709.839 129.901C713.678 129.891 717.603 129.88 721.62 129.88C784.951 126.462 829.924 137.191 931.781 169.816C964.058 180.154 991.036 189.727 1015.5 198.407C1135.43 240.962 1194.9 262.063 1521.91 246.777V880.648H1521V1100C1480.21 1068.94 1209.53 1041.45 928.622 1041.45C823.756 1041.45 700.189 1054.27 577.124 1067.04C332.484 1092.41 89.826 1117.58 0 1041.45V275.631H0.910156V85.4234C17.7985 72.1167 38.5424 79.8789 46.8032 85.4234Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1450.53' y1='549.999' x2='104.221' y2='549.999' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EEE5F1'/%3E%3Cstop offset='0.96875' stop-color='%23DCD6D6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
 background-repeat: no-repeat;
  padding: 15% 0 5%;
  margin-top: -15%;
  height: 1100px;
}
.kobfa-about-block img {
  width: 65%;
}
.kobfa-about-block h5{
  font-weight: 200;
  margin: 10px 0 35px;
}
.kobfa-about-block h5+img{
  width: 100%;
}
.kobfa-about-block .speak-vector{
  width: 400px;
  height: 548px;
  overflow: hidden;
  position: absolute;
  right: 0;
  margin-top: 15%;
}
.kobfa-about-block .speak-vector img{
  width: 571px;
    height: 548px;
    transform: rotate(90deg)scaleY(-1);
}

/* Staff Review */
.staff-large-block img {
  width: 100%;
}
.staff-large-block h1 {
  font-weight: bold;
    text-align: center;
}
.staff-large-block h2 {
  font-size: 30px;
}
.kobfa-gray {
  width: 150px;
  margin: auto;
  display: block;
}
.review-staff-scoll {
  display: flex;
  overflow-x: auto;
  margin: auto;
}
.review-staff-scoll .section {
  margin: auto;
  display: block;
}
.review-staff-scoll a {
  width: 120px;
  height: 160px;
  margin: 13px 7px;
  float: left;
  padding: 0;
  border-radius: 10px;
}
.review-staff-scoll img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review-staff-scoll article {
  position: absolute;
  bottom: 0;
  line-height: 5px;
  padding: 5px;
  text-align: left;
  text-transform: capitalize;
   width: 100%;
}
.review-staff-scoll article .cover-staff-image {
  display: block;
}
.review-staff-scoll article p{
  font-weight: 200;
}
.review-staff-scoll article img{
  width: 20px;
  float: right;
  margin-top: -25px;
}
.staff-large-block .modal {
  width: 75%;
  /* max-height: auto; */
  background: #f5f4f3;
  background: linear-gradient(
    182.28deg,
    #f5f4f3 7.95%,
    #e6e6e6 31.08%,
    #b3b3b3 78.77%,
    rgb(255, 255, 255) 100.84%
  );
}
.staff-large-block .modal .btn-floating {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
    right: 10px;
    top: 10px;
}
.staff-large-block  .modal .modal-content {
  padding: 40px;
}
.staff-large-block .modal .btn-floating i{
  font-size: 35px;
}
.staff-large-block .modal:focus{
  border: none;
}
.staff-large-block .modal h5 {
  margin: 0;
  font-weight: bold;
}
.staff-large-block .modal p {
  margin: 0;
}
.staff-large-block .modal p+img {
  width: 37px;
  float: right;
  position: relative;
  top: -44px;
}
.staff-large-block .modal strong{
  font-weight: bold;
}
.staff-large-block .modal article{
  margin-bottom: 15px;
}
/* @media only screen and (max-width: 600px) {
  .review-staff-scoll .card {
    float: unset;
  }
  .review-staff-scoll .section {
    margin: auto;
    display: flex;
  }
} */

/* Blogs */
.blogs-large {
  padding: 5% 5% 0;
  z-index: 5;
  position: relative;
}
.blogs-large h1{
  font-weight: bold;
  padding-bottom: 5px;
  margin-top: 0;
}

.blogs-large h1>img{
  width: 70px;
  height: 70px;
  position: relative;
  top: 15px;
}
.blogs-large img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.blogs-large article {
  color: white;
  padding: 0 15px;
  position: relative;
  top: -140px;
}
.blogs-large h4{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
}
.blogs-large p{
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
/* Content us */
.contact-large{
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 5% 5%;
  margin-top: -25%;
  background-position: center;
}
.contact-large>.row{
  position: relative;
  z-index: 5;
}
.contact-large h3{
  margin: 0;
}
.contact-large input[type=text]:not(.browser-default),
.contact-large input[type=email]:not(.browser-default){
  width: 95%;
}
.contact-large .round-white[placeholder] {
  line-height: 105px;
}
.contact-large .speak-vector{
  width: 994px;
  height: 750px;
  overflow: hidden;
  position: absolute;
  left: -20%;
  margin-top: -50%;
}
.contact-large .speak-vector img{
  width: 800px;
  height: 900px;
  transform: rotate(180deg)scaleY(-1);
}
.kobfa-backdrop{
  width: 330px;
  position: absolute;
  left: 4%;
  margin-top: -5%;
  z-index: 10;
}
/* Footer */
footer {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='275' viewBox='0 0 1440 275' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1440' height='275' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='244.987' y1='25.3625' x2='374.088' y2='747.801' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23511A66'/%3E%3Cstop offset='0.96875' stop-color='%23CC3227'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  padding: 5% 5% 0;
  background-repeat: no-repeat;
}
footer h5{
  font-size: 17px;
  font-weight: 200;
  opacity: 0.7;
}
footer img{
  width: 160px;
}
footer ul {
  display: flex;
  margin: 15% auto 0;
}
footer li img{
  width: 45px;
  opacity: 0.7;
}
/* vedio */
.plyr--full-ui.plyr--video .plyr__control--overlaid {
  --plyr-control-icon-size: 50px;
  --plyr-color-main: #ffffff0;
}










