    @import url('./variables.css');
    @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
    @import url("https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700,800,900");
    @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @font-face {
        font-family: 'gilroy';
        src: url("./../fonts/gilroy/bold.otf");
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    [lang*='en'] {
        font-family: 'Google Sans';
    }
    
    [lang*='th'] {
        font-family: 'Prompt', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }
    
    .center {
        margin: auto;
        display: block;
    }
    
    section {
        padding: 5%;
    }
    
    .paragraph {
        text-indent: 1cm;
    }
    
    .p-0 {
        padding: 0;
    }
    
    .p-10 {
        padding: 10px;
    }
    
    .mt-0 {
        margin-top: 0;
    }
    
    .mb-0 {
        margin-bottom: 0;
    }
    
    .mtb-0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .ptb-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .ptb-100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .cover {
        object-fit: cover;
    }
    
    .scrollbar-style::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    
    .scrollbar-style::-webkit-scrollbar {
        width: 10px;
        background: transparent;
    }
    
    .scrollbar-style::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #c4c4c4;
    }
    
    .purple-text {
        color: var(--exelt-primary-color)!important;
    }
    
    .bg-purple {
        background-color: var(--exelt-primary-color);
    }
    
    .red-gradient {
        background: var(--exelt-primary-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .gray-gradient {
        background-image: url("../images/bg/bg-gray-gradient.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* form input */
    
    .input-field {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    
    .round-white {
        border-radius: 25px !important;
        background-color: white !important;
        border-bottom: none !important;
        box-shadow: 0px 13.2252px 26.4503px rgba(0, 0, 0, 0.15) !important;
    }
    
    .round-white:focus,
    .round-white:active {
        border-bottom: none !important;
        background-color: white !important;
    }
    
    textarea.round-white {
        min-height: 8rem;
        padding: 15px;
    }
    
    .round-white[placeholder] {
        text-align: center;
        font-weight: 200;
        border: none;
    }
    
    .round-white:focus {
        outline: none;
    }
    /* Button */
    
    [class*='btn-'] {
        border-radius: 100px;
        box-shadow: var(--exelt-shadow);
    }
    
    .btn-primary {
        background: var(--exelt-primary-gradient);
    }
    
    .btn-secondary,
    .btn-secondary:active,
    .btn-secondary:hover {
        color: var(--exelt-primary-color);
        background-color: white;
    }
    /* .btn-large {
        background-color: transparent;
    }
     */
    
    .parallax-container {
        min-height: 380px;
        line-height: 0;
        height: auto;
        color: rgba(255, 255, 255, 0.9);
    }
    
    .parallax-container .section {
        width: 100%;
    }
    /* exelt button style */
    
    .exelt-button-link {
        border: 1px solid white;
        background: var(--exelt-bg-button);
        box-shadow: var(--exelt-shadow);
        text-shadow: var(--exelt-shadow-text);
        border-radius: 45px;
        height: 56px;
        padding: 10px;
        text-transform: lowercase;
        line-height: 35px;
        width: 165px;
    }
    
    .exelt-button-link div {
        display: inline-flex;
        line-height: 20px;
    }
    
    .exelt-button-link small {
        width: 100%;
        line-height: 15px;
    }
    
    .exelt-button-link img {
        width: 45px;
        height: auto;
    }
    /* Responsive */
    
    @media (max-width: 600px) {
        #index-banner .section {
            top: 0;
        }
    }
    
    @media (min-width: 601px) and (max-width: 992px) {
        .parallax-container .section {
            position: absolute;
            top: 40%;
        }
        #index-banner .section {
            top: 10%;
        }
    }
    /*  overlay fiter blur*/
    
    .overlay-blur {
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
        background: rgba(0, 0, 0, 0.372);
        position: absolute;
        /* z-index: 0; */
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .3s ease;
    }
    
    .overlay-blur.light {
        background: rgba(230, 230, 230, 0.16);
    }
    
    .overlay-container:hover .overlay-blur {
        height: 100%;
    }
    
    .overlay-container article .white-text {
        z-index: 5;
        position: relative;
    }
    
    .carousel .indicators .indicator-item {
        background-color: var(--exelt-default-color);
    }
    
    .carousel .indicators .indicator-item.active {
        background-color: var(--exelt-primary-color);
    }
    /* Modal */
    
    .mo-modal-fullscreen:focus {
        outline: none;
    }
    
    .mo-modal-fullscreen:focus {
        border: none;
    }
    
    @media (max-width: 600px) {
        .mo-modal-fullscreen {
            width: 100%;
            max-height: 100%;
            height: 100%;
            top: 0 !important;
        }
        .mo-modal-fullscreen {
            width: 100%;
            background: #f5f4f3;
            background: var(--exelt-default-gradient)
        }
    }
    /* Text Line */
    
    [class*='clamp-line'] {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .clamp-line-1 {
        -webkit-line-clamp: 1;
    }
    
    .clamp-line-2 {
        -webkit-line-clamp: 2;
    }
    
    .clamp-line-5 {
        -webkit-line-clamp: 5;
    }
    /* lang */
    
    .language-btn.active {
        font-weight: bold;
    }
    /* Gallery */
    
    .js-flickity .gallery-cell {
        width: 25%;
        margin-right: 10px;
        counter-increment: gallery-cell;
    }
    
    @media (max-width: 600px) {
        .js-flickity .gallery-cell {
            width: 100%;
        }
    }
    
    @media (min-width: 601px) and (max-width: 992px) {
        .js-flickity .gallery-cell {
            width: 33.33%;
        }
    }
    /* Partners */
    
    marquee {
        background-color: transparent;
        display: block;
        margin: auto;
        width: 50%;
        -webkit-box-shadow: inset 55px 0px 15px -5px white, inset -55px 0px 15px -5px white;
        box-shadow: inset 55px 0px 15px -5px white, inset -55px 0px 15px -5px white;
    }
    
    marquee img {
        margin: 30px;
    }
    
    @media (max-width: 992px) {
        marquee {
            width: 100%;
        }
    }
    
    .modal {
        max-height: 100%;
    }