nav ul a,
nav .brand-logo {
  color: #444;
}
nav {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 0 15px;
  position: fixed;
  background-color: transparent;
  box-shadow: none;
  z-index: 60;
}
.sidenav-overlay {
  z-index: 59;
}
nav .sidenav-trigger i {
  font-size: 37px;
}
.sidenav-trigger {
  background: #d31610;
  background: -webkit-linear-gradient(
    20deg,
    rgba(211, 22, 16, 1) 0%,
    rgba(81, 26, 102, 1) 64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav .hide-on-med-and-down {
  margin: auto;
  display: table;
}
nav .right.hide-on-med-and-down {
  position: absolute;
  top: 0;
  right: 0;
}

nav ul a {
  font-weight: bold;
  font-size: 17px;
  color: #511a66;
  text-shadow: 2px 2px 2px rgba(159, 158, 158, 0.187);
}
.logo-brand img {
  height: 69px;
}
.logo-brand,
nav ul a,
nav {
  height: 73px;
}

/* slide navbar */
.sidenav {
  height: 100%;
  width: 350px;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    140deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(230, 230, 230, 1) 30%,
    rgba(179, 179, 179, 1) 100%
  );
}
.sidenav li > a {
  color: #511a66;
  font-size: 17px;
  text-shadow: none;
  text-align: center;
  padding: 0;
  margin: 5px 30px;
  display: flex;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    0deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(255, 243, 243, 1) 22%,
    rgba(179, 179, 179, 1) 100%
  );
}

.sidenav li > a > img {
  width: 40px;
  margin-right: 5px;
}
.sidenav .exelt-link {
  width: 60px;
  height: 60px;
  float: right;
}
.sidenav .exelt-link:hover {
  background: transparent;
}
.sidenav button {
  border: none;
  color: #b3b3b3;
  margin: 5%;
  cursor: pointer;
  float: right;
  background-color: transparent;
}
.sidenav button:focus {
  background: transparent;
}
.sidenav li:last-child > a {
  position: absolute;
  bottom: 76px;
  border: none;
  font-size: 13px;
  color: #b3b3b3;
  padding: 3px 20px;
}

header .btn-floating.btn-primary {
  position: fixed;
  right: -32px;
  z-index: 50;
  top: 50%;
  width: 70px;
  height: 70px;
}
header .btn-floating.btn-primary i {
  position: absolute;
  left: -10px;
  top: 16px;
  font-size: 33px;
}
header .mo-modal-fullscreen .modal-content {
  padding: 40px;
  text-align: center;
}
header .mo-modal-fullscreen a {
  color: white;
}
header .mo-modal-fullscreen input[type="text"]:not(.browser-default), 
header .mo-modal-fullscreen input[type="email"]:not(.browser-default){
  width: 90%;
}
header .mo-modal-fullscreen .round-white[placeholder] {
  line-height: 105px;
}

/* Responsive */
@media (max-width: 600px) {
  nav .hide-on-med-and-down {
    display: block !important;
  }
  .sidenav {
    padding-top: 30px;
  }
  .sidenav li:last-child > a {
    padding: 3px 20px 20px;
  }
  
}
@media (min-width: 601px) and (max-width: 992px) {
  nav .hide-on-med-and-down {
    display: block !important;
  }
  .sidenav {
    padding-top: 30px;
  }
  .sidenav li:last-child > a {
    padding: 3px 20px 20px;
  }
  nav .logo-brand {
    position: absolute;
    width: 100%;
  }
}
@media only screen and (min-width: 993px) {
  header .btn-floating.btn-primary {
    display: none;
  }
}
