/* @media (min-width: 601px) and (max-width:992px) {} */

.gray-gradient .col.l5 {
    padding: 0;
    display: grid;
}

.panel-large {
    background: linear-gradient(270deg, #743C8A 4.69%, #CF665E 90.39%);
    font-size: 21px;
    border-bottom: .5px solid #ffffff4f;
}

.panel-large a {
    width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .panel-large {
        display: grid;
    }
}

@media (max-width:992px) {
    .recoment-large img,
    .recoment-large h5,
    .recoment-large h4 {
        margin: auto;
        display: block;
        text-align: center;
        float: unset!important;
    }
    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .recoment-large img {
        margin-bottom: 15px;
    }
}