[id*="motion-"] video {
    height: 600px!important;
}

#slide-menu ul.tabs {
    display: flex;
}

#slide-menu ul.tabs a {
    padding: 0;
}

#slide-menu ul.tabs,
#slide-menu ul.tabs a {
    height: 125px;
}

@media (max-width: 992px) {
    [id*="motion-"] .row-flex {
        display: flex;
        flex-direction: column;
    }
    .flex-order-2 {
        order: 2;
        flex: 1;
        text-align: center;
    }
    .flex-order-1 {
        order: 1;
        flex: 1;
        text-align: center;
    }
    #slide-menu ul.tabs,
    #slide-menu ul.tabs a {
        height: 130px;
        margin-bottom: 25px;
    }
}

@media (min-width: 601px) and (max-width:992px) {
    #slide-menu ul.tabs,
    #slide-menu ul.tabs a {
        height: 125px;
        margin-bottom: 25px;
    }
}

@media (min-width: 993px) {
    #slide-menu {
        bottom: 0;
        top: 480px;
        position: relative;
        height: 0;
    }
}

#slide-menu ul.tabs strong {
    white-space: break-spaces;
    text-transform: capitalize;
    display: block;
    line-height: 20px;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent;
}

#slide-menu ul.tabs a img {
    height: 59px;
}

.tabs .indicator {
    background: var(--exelt-primary-gradient);
}

blockquote {
    margin: 0;
    border-left: 1px solid var(--exelt-default-color);
}

.panel-large {
    font-size: 21px;
}

.panel-large a {
    width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .panel-large {
        display: grid;
    }
}

.plyr--video {
    margin: 50px 0;
}

@media (max-width: 600px) {
    .plyr--video {
        margin: 20px 0;
    }
}


/* Test */

.flickity-page-dots {
    bottom: auto!important;
}

.carousel-cell,
.gallery-cell {
    width: 100%!important;
}