[id*="motion-teaching-"] video {
    height: 600px!important;
}

#slide-menu ul.tabs {
    display: flex;
    height: 130px;
}

@media (max-width: 600px) {
    [id*="motion-teaching-"]>.row {
        display: flex;
        flex-direction: column;
    }
    .flex-order-2 {
        order: 2;
        flex: 1;
    }
    .flex-order-1 {
        order: 1;
        flex: 1;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    [id*="motion-teaching-"] img.circle {
        float: left!important;
        width: 45px;
        height: 45px;
    }
    #slide-menu ul.tabs {
        position: absolute;
        /* bottom: -222px;
        width: 35%; */
    }
    #slide-menu ul.tabs a img {
        height: 49px;
    }
}

@media (min-width: 601px) {
    #slide-menu ul.tabs {
        position: absolute;
        bottom: -37px;
        width: 30%;
    }
}

#slide-menu ul.tabs a {
    height: 130px;
    padding: 0;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent;
}

#slide-menu ul.tabs a img {
    height: 59px;
}

.tabs .indicator {
    background: var(--exelt-primary-gradient);
}

blockquote {
    margin: 0;
    border-left: 1px solid var(--exelt-default-color);
}

.panel-large {
    font-size: 21px;
}

.panel-large a {
    width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .panel-large {
        display: grid;
    }
}

.plyr--video {
    margin: 50px 0;
}

@media (max-width: 600px) {
    .plyr--video {
        margin: 20px 0;
    }
}


/* container-flex */


/* 
.container-flex {
    display: flex;
    flex-wrap: wrap;
}

.video-flex {
    flex: 1 50%;
}

.row-flex1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    flex-direction: column;
}

.row-flex2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 50%;
    flex-direction: column;
}

.review-flex,
.detail-flex {
    flex: 1
}

.button-group-flex {
    flex: 1 50%;
}

@media (max-width: 600px) {
    .button-group-flex {
        order: 2;
    }
    .video-flex,
    .review-flex,
    .detail-flex {
        flex: 1 100%;
    }
    .video-flex {
        order: 4;
    }
    .review-flex {
        order: 1;
    }
    .detail-flex {
        order: 3;
    }
} */