#slide-menu ul.tabs {
    display: flex;
}

#slide-menu ul.tabs a {
    padding: 0;
}

#slide-menu ul.tabs,
#slide-menu ul.tabs a {
    height: 130px;
}

@media (max-width: 992px) {
    [id*="motion-"] {
        width: 100%;
    }
    [id*="motion-"] .row-flex {
        display: flex;
        flex-direction: column;
    }
    [id*="motion-"] video {
        height: 700px!important;
    }
    .flex-order-2 {
        order: 2;
        flex: 1;
        text-align: center;
    }
    .flex-order-1 {
        order: 1;
        flex: 1;
        text-align: center;
    }
    #slide-menu ul.tabs,
    #slide-menu ul.tabs a {
        margin-bottom: 25px;
    }
    
}
@media (min-width: 993px) {
    #slide-menu {
        bottom: 0;
        top: 660px;
        position: relative;
        height: 0;
    }
    [id*="motion-"] video {
        height: 800px!important;
    }
    .fix-screen-tabs{
        width: 990px;
        margin: auto;
    }
}

#slide-menu ul.tabs strong {
    white-space: break-spaces;
    text-transform: capitalize;
    display: block;
    line-height: 20px;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent;
}

#slide-menu ul.tabs a img {
    height: 59px;
    opacity: 0.3;
    filter: grayscale(80%);
}

#slide-menu ul.tabs a.active img {
    opacity: 1;
    filter: grayscale(0);
}

.tabs .indicator {
    background: var(--exelt-primary-gradient);
}

blockquote {
    margin: 0;
    border-left: 1px solid var(--exelt-default-color);
}

.panel-large {
    font-size: 21px;
}

.panel-large a {
    width: fit-content;
    margin: auto;
}

@media (max-width: 600px) {
    .panel-large {
        display: grid;
    }
}

.plyr--video {
    margin: 50px 0;
}

@media (max-width: 600px) {
    .plyr--video {
        margin: 20px 0;
    }
}

/* flickity */
.flickity-page-dots {
    bottom: auto!important;
}
.gallery-cell {
    width: 100%!important;
}
.blog-row .gallery-cell a,
.blog-row .gallery-cell a>img {
    height: 300px;
    display: block;
}

.blog-row a article {
    height: 90px;
}

.blog-row .overlay-container article {
    top: -90px;
}

@media (max-width: 992px) {
    .blog-row .overlay-blur {
        height: 85px;
    }
}