:root {
    --primary-gradient: -webkit-linear-gradient( 65.45deg, #511a66 27.67%, #cc3227 235.83%);
    --default-gradient: linear-gradient(86.17deg, #F4F4F4 5.56%, #E6E6E6 42.47%, #B3B3B3 128.94%);
    --primary-color: #511a66;
    --default-color: #b3b3b3;
    --exelt-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    --shadow-text: 2px 2px 2px rgba(150, 150, 150, 0.5);
    --exelt-bg-button: linear-gradient(193.27deg, #B4C9DD 36.85%, #E1E1E1 89.06%);
}