.staff-row a>img {
    width: 100%;
    object-fit: cover;
}

.staff-row .gallery-cell a,
.staff-row .gallery-cell a>img {
    height: 350px;
    display: block;
}

.staff-row a article {
    height: 70px;
}

.staff-row article .flag-img {
    z-index: 5;
    position: relative;
}

.staff-row .overlay-container article {
    top: -70px;
}

@media (min-width:993px) {
    .staff-row .flickity-prev-next-button.previous {
        left: -90px !important;
    }

    .staff-row .flickity-prev-next-button.next {
        right: -90px !important;
    }
}

@media(max-width:750px) {
    .staff-row a>img {
        object-position: 0 0;
    }

    .staff-row .gallery-cell a,
    .staff-row .gallery-cell a>img {
        height: 450px;
    }

    .staff-row .gallery.js-flickity {
        height: 450px !important;
    }

    .staff-row .gallery h6,
    .staff-row .gallery p {
        font-size: 26px;
    }

    .staff-row .overlay-container article {
        top: -60px;
    }

    .overlay-blur {
        height: 70px;
    }

    .staff-row a article {
        height: 60px;
    }
}