@import url('./variables.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.google_sans {
  font-family: 'Google Sans';
}

.prompt_sans {
  font-family: 'Prompt', sans-serif;
}

span,
strong,
small,
article,
p {
  line-height: 27px;
}

.center {
  margin: auto;
  display: block;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

/* scrollbar */
.scrollbar-style {
  overflow-y: auto;
}

body::-webkit-scrollbar,
.scrollbar-style::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border-left: 1px solid var(--kobfa-default-color);
}

body::-webkit-scrollbar-thumb,
.scrollbar-style::-webkit-scrollbar-thumb {
  background: conic-gradient(from 201.45deg at 50% 50%, #511A66 -4.27deg, #D31610 6.38deg, #611A5B 242.51deg, #511A66 355.73deg, #D31610 366.38deg);
  border-radius: 32.5px;
  /* background:var( --kobfa-primary-gradient); */
  border-left: 1px solid var(--kobfa-default-color);
}

/* text and background color */
/* Modal */
.xlt-modal {
  overflow: hidden;
  max-height: 85%;
}

.xlt-modal:focus {
  outline: none;
}

.xlt-modal .modal-fixed-header {
  position: absolute;
  text-align: right;
  padding: 5px 15px;
  right: 0;
}

.xlt-modal .btn-floating i {
  font-size: 40px;
  text-shadow: var(--kobfa-shadow-text);
}

.xlt-modal .modal-content {
  overflow-y: auto;
  height: 68vh;
}

@media (min-width: 600px) and (max-width: 992px) {
  .xlt-modal .modal-content {
    display: block ruby;
  }
}

@media (max-width: 600px) {
  .xlt-modal {
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
  }

  .xlt-modal .modal-fixed-header {
    width: 100%;
    background: rgb(171 144 181 / 40%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .xlt-modal .modal-content {
    padding-top: 85px;
    height: 100%;
  }
}

/* Button */
[class*='btn-'] {
  border-radius: 100px;
  box-shadow: var(--kobfa-shadow);
  font-family: 'Prompt', sans-serif;
}

.btn-primary {
  background: var(--kobfa-primary-gradient);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover {
  color: var(--kobfa-primary-color);
  background-color: white;
}

.flickity-button {
  margin: 0 10px;
  width: 40px !important;
  height: 40px !important;
  background: #ffffff8a !important;
  box-shadow: var(--kobfa-shadow) !important;
  border: 1px solid var(--kobfa-primary-color) !important;
}

.flickity-button .flickity-button-icon {
  color: var(--kobfa-primary-color);
  text-shadow: var(--kobfa-shadow-text);
}

@media (max-width: 992px) {
  .flickity-prev-next-button {
    width: 56px !important;
    height: 56px !important;
    padding: 6px;
    margin: 0;
  }
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

/* Responsive */
@media (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

/*  overlay fiter blur*/
.overlay-blur {
  /* 2022-05-23 수정 */
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  /* z-index: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  /* 2022-05-23 수정 */
  /* height: 0; */
  height: 100%;
  transition: .3s ease;
}

.overlay-blur.light {
  background: rgba(230, 230, 230, 0.16);
}

.overlay-container:hover .overlay-blur {
  /* height: 100%; */
}

.overlay-container article [class*='-text'],
.overlay-container article .flag-img {
  z-index: 5;
  position: relative;
}

.overlay-container article {
  position: relative;
  top: -110px;
}

/* Text Line */
[class*='clamp-line'] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-line-1 {
  -webkit-line-clamp: 1;
}

.clamp-line-2 {
  -webkit-line-clamp: 2;
}

.clamp-line-3 {
  -webkit-line-clamp: 3;
}

.clamp-line-4 {
  -webkit-line-clamp: 4;
}

/* lang */
.language-btn.active {
  font-weight: bold;
}

/* Flickity Gallery */

@media (min-width:993px) {
  .xlt-flickity .flickity-button.previous {
    left: -90px;
  }

  .xlt-flickity .flickity-button.next {
    right: -90px;
  }
}

/* Partners */
.marquee .slide {
  padding: 0 25px;
}

.marquee .slide img {
  filter: drop-shadow(0px 5.1667px 5.3333px rgba(186, 206, 225, 0.577));
}

@media (max-width:992px) {
  .marquee {
    width: 100% !important;
  }

  .marquee .flickity-button {
    display: none;
  }
}

/* Field */
.input-field>input,
.input-field>textarea {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  text-align: center;
  background-color: white !important;
  border-radius: 25px !important;
  box-shadow: 0px 13.2252px 26.4503px rgba(0, 0, 0, 0.15) !important;
  font-family: 'Prompt', sans-serif;
}

.input-field>textarea {
  min-height: 90px !important;
  padding: 10px;
}

.input-field>input:active,
.input-field>input:focus,
.input-field>textarea:active,
.input-field>textarea:focus {
  background: #f4f0f5 !important;
  outline: none;
}

.input-field>input:focus::placeholder,
.input-field>textarea:focus::placeholder {
  opacity: 0.3;
}

::placeholder {
  color: var(--kobfa-primary-color);
  /* opacity: 0.7; */
  text-align: center;
}

.plyr.plyr--stopped .plyr__controls {
  display: none
}

.plyr--video .plyr__control--overlaid {
  --plyr-control-icon-size: 50px;
  --plyr-color-main: transparent;
  border: 7px solid #ffffff7d;
}

.plyr__control svg {
  fill: #ffffff7d !important;
}

.plyr--video:hover .plyr__control svg,
.plyr--video:hover .plyr__control--overlaid {
  fill: white !important;
  border-color: white;
}

.plyr__video-wrapper {
  background: transparent !important;
}

.plyr__poster {
  background-color: #f5f4f3;
  background-size: cover;
}

@media (min-width:993px) {
  .plyr__controls {
    display: none;
  }
}

.cover-image {
  height: 750px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.cover-image .container {
  padding-top: 200px;
}

header,
header>nav,
header>nav .nav-wrapper i,
header>nav a.sidenav-trigger i {
  height: 65px;
  line-height: 65px;
}

.brand-logo img {
  margin-top: 10px;
  width: auto;
  height: 27px;
}

header>nav {
  position: fixed;
  top: 0;
  z-index: 100;
}

.center.hide-on-med-and-down {
  position: unset;
  display: table;
}

.center.hide-on-med-and-down+.right {
  right: 0;
  position: absolute;
  top: 0;
}

.header-nav .brand-logo img {
  padding-left: 20px;
}

.header-nav .sidenav-trigger {
  display: block;
}

header>nav {
  background: rgba(230, 230, 230, 0.16);
  /*-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);*/
  position: fixed;
  z-index: 100;
  box-shadow: none;
}

/* ----------------------------------------------
    TOP 에서 스티키가 될때(스크롤) 글자 형태가 보인다고 해서
---------------------------------------------- */
div.nav-wrapper {
  background: rgba(230, 230, 230, 0.75);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  div.nav-wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.sidenav-overlay {
  z-index: 0 !important;
}

.sidenav li>a {
  width: 100%;
  font-size: 18px;
}

.sidenav li a.active {
  background: var(--xlt-primary-gradient);
  color: white !important;
}

.collection.with-header .collection-header {
  border: none;
}

.sidenav-close {
  margin: 10px 0;
}

.sidenav li>a img {
  position: relative;
  top: 5px;
}

header>nav i.material-icons {
  font-size: 35px;
  margin: auto 0;
}

#service-dropdown {
  top: 65px !important;
}

/* test */
#mo-service-dropdown {
  top: 261px !important;
  padding-top: 0;
}

@-moz-document url-prefix() {
  header>nav {
    /* background: rgba(255, 255, 255, 0.9); */
  }
}

.big-letter-gradient-title {
  display: block;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background: var(--kobfa-primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.big-letter-primary-title {
  display: block;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.big-letter-bg-title {
  display: block;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.big-letter-bg-text {
  display: block;
  font-size: 1.64rem;
  font-weight: 200;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

.main-title {
  display: block;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.main-text {
  display: block;
  font-size: 1.64rem;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.sub-bg-title {
  display: block;
  font-size: 2.28rem;
  margin: 1.52rem 0 0.912rem 0;
  font-weight: 600;
  line-height: normal;
  background-color: var(--kobfa-primary-color);
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0;
}

.image-on-title {
  display: block;
  font-size: 3.56rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.image-up-title {
  display: block;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px
}

.quote-title {
  display: block;
  font-size: 1.64rem;
  font-weight: 600;
  line-height: normal;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.quote-text {
  display: block;
  font-size: 1.64rem;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.quote-bg-title {
  display: block;
  font-size: 1.64rem;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.quote-small-text {
  display: block;
  font-size: 1.15rem;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.modal-main-title {
  display: block;
  font-size: 2.28rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.modal-main-text {
  display: block;
  font-size: 1.64rem;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.modal-title {
  display: block;
  font-size: 1.64rem;
  font-weight: 600;
  line-height: normal;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.modal-text {
  display: block;
  font-size: 1.15rem;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.primary-text {
  color: var(--kobfa-primary-color) !important;
}

.secondary-text {
  background: var(--kobfa-primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-color {
  background-color: var(--kobfa-primary-color);
}

.red-gradient {
  background: linear-gradient(136.9deg, #511A66 12.99%, #CC3227 148.66%);
}

.salmon-gradient {
  background: linear-gradient(270deg, #743C8A 4.69%, #CF665E 90.39%);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

table.border-collapse-unset {
  border-collapse: unset;
}

.fslider {
  margin-bottom: 35px;
}

.fslider img {
  display: block;
}

.fslider .fslider-cell {
  width: 100%;
  min-height: 240px;
}

.fslider .fslider-cell-image {
  width: 100%;
  max-height: 800px;
}

@media (max-width: 992px) {
  .fslider .flickity-button {
    width: 40px !important;
    height: 40px !important;
  }
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-10 {
  padding: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-10 {
  margin: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mtb-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.heading {
  text-transform: uppercase;
}

.js-flickity .gallery-cell {
  width: 32.5%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

@media (max-width: 600px) {
  .image-on-title {
    font-size: 30px;
    padding: 0 35px;
  }

  img.quote_comments_image {
    width: 80px !important;
  }
}

@media (min-width: 1200px) {
  img.intro-image {
    height: 800px !important;
    object-fit: cover;
    object-position: bottom;
  }
}

@media (max-width: 750px) {
  .js-flickity .gallery-cell {
    width: 100%;
  }
}

@media(max-width:600px) {}

.contact-large {
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}

.contact-large .btn-primary.send-message {
  display: block;
  margin: auto;
}

.contact-large .speak-vector {
  position: absolute;
  left: -300px;
  margin-top: -600px;
  z-index: -1;
}

.contact-large .speak-vector img {
  width: 800px;
  height: 700px;
  transform: rotate(5deg);
}


/* footer */
footer {
  z-index: 1;
  position: relative;
}

footer .social-buttons {
  display: inline-flex;
  text-align: center;
  margin: auto;
}

footer .social-buttons img {
  position: unset;
  z-index: 2;
}

footer .social-buttons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #ffffff73;
  margin: 10px;
}

footer .social-buttons a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
  z-index: 1;
}

footer .social-buttons a:focus,
footer .social-buttons a:hover {
  color: #fff;
}

footer .social-buttons a:focus::after,
footer .social-buttons a:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

footer .social-buttons a::after {
  background: white;
}

footer p {
  opacity: 0.6;
}

@media only screen and (max-width: 992px) {

  footer,
  footer img,
  footer p {
    text-align: center;
    margin: auto;
    display: block;
  }

  footer .social-buttons {
    margin-bottom: 20px;
  }
}

#scroll-indicator {
  height: 2px;
  margin-bottom: -2px;
  background-color: var(--kobfa-primary-color);
  position: fixed;
  width: 0%;
  z-index: 999;
}

@media (max-width:992px) {
  img.about-comments-image {
    margin: auto;
    display: block;
    text-align: center;
    float: unset !important;
    text-align: center;
    margin-bottom: 15px;
  }
}

@media(max-width:750px) {
  .overlay-blur {
    height: 70px;
  }
}

.slide-touch-enabled {
  height: 600px;
}

.video-overlap {
  position: absolute;
  z-index: 300;
  width: 486px;
  height: 273px;
  top: 27px;
  /* background-color: rgba(153, 205, 50, 0.605); */
}

.slide-touch-enabled section {
  border-radius: 10px;
}

#prev.btn-floating i,
#next.btn-floating i {
  font-size: 40px;
  text-shadow: var(--kobfa-shadow-text);
}

.button-group {
  position: relative;
  top: 85px;
  width: 600px;
  margin: auto;
}

@media (max-width: 600px) {
  .slide-touch-enabled section {
    margin: 15px auto;
    width: 90vw;
  }

  .button-group {
    width: 100%;
    padding: 0 15px;
    top: -310px;
  }

  .gray-gradient.ptb-100 {
    padding-bottom: 0;
  }
}

@media (max-width: 540px) {
  .slide-touch-enabled {
    height: 460px;
  }
}

@media(max-width:600px) {
  .caption h2 {
    font-size: 30px;
  }
}

.work-large {
  background-color: #ededed;
}

.work-large .tabs {
  display: initial;
  width: 100%;
}

.work-large .tabs .tab {
  text-align: left;
  height: 100%;
}

.work-large .tabs .indicator {
  display: none;
  background: transparent;
}

.work-large .tabs .tab a .card-panel {
  border-radius: 19px;
  text-transform: none;
  margin: 0;
  white-space: normal;
  line-height: 19px;
  padding: 15px;
}

.work-large .tabs .tab a:hover {
  background-color: transparent;
}

.work-large .card-panel,
.work-large .tabs .tab a {
  border-radius: 19px;
  margin: 10px 0;
}

.work-large .tabs .tab a.active {
  background: #f3e5f5;
  -moz-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.work-large video.responsive-video {
  height: 620px;
  margin-top: -95px;
}

.work-large .hide-on-large-only video {
  height: 300px;
  margin: auto;
  display: block;
}

.work-large .hide-on-large-only .card-panel {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 992px) {

  .work-large h3,
  .work-large h5 {
    text-align: center;
  }

  .work-large video.responsive-video {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .work-large .container {
    width: 100%;
  }
}

@-moz-document url-prefix() {
  .work-large {
    background-color: #eaeaea;
  }
}