/* contact */

.contact-large {
    position: relative;
    z-index: 0;
    padding-bottom: 50px;
}

.contact-large .btn-primary.send-message {
    display: block;
    margin: auto;
}

.contact-large .speak-vector {
    position: absolute;
    left: -300px;
    margin-top: -600px;
    z-index: -1;
}

.contact-large .speak-vector img {
    width: 800px;
    height: 700px;
    transform: rotate(5deg);
}


/* footer */
footer{
    z-index: 1;
    position: relative;
}
footer .social-buttons {
    display: inline-flex;
    text-align: center;
    margin: auto;
}

footer .social-buttons img {
    position: unset;
    z-index: 2;
}

footer .social-buttons a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: #ffffff73;
    margin: 10px;
}

footer .social-buttons a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
    z-index: 1;
}

footer .social-buttons a:focus,
footer .social-buttons a:hover {
    color: #fff;
}

footer .social-buttons a:focus::after,
footer .social-buttons a:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

footer .social-buttons a::after {
    background: white;
}

footer p {
    opacity: 0.6;
}

@media only screen and (max-width: 992px) {
    footer,
    footer img,
    footer p {
        text-align: center;
        margin: auto;
        display: block;
    }
    footer .social-buttons{
        margin-bottom: 20px;
    }
}
