.card-content{
    height: 270px;
}
@media (max-width:1220px) {
    .card-content{
        height: 300px;
    }
}
@media (max-width:992px) {
    .recoment-row img,
    .recoment-row h5,
    .recoment-row h4,
    .recoment-row h3 {
        margin: auto;
        display: block;
        text-align: center;
        float: unset !important;
        text-align: center;
    }

    .column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .recoment-row img {
        margin-bottom: 15px;
    }

    section.ptb-100 {
        padding-top: 25px;
        padding-bottom: 0;
    }

    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .card-content{
        height: auto;
    }
}
