/*
    Scroll Indicator
*/
#scroll-indicator {
  height: 2px;
  margin-bottom: -2px;
  background-color: var(--kobfa-primary-color);
  position: fixed;
  width: 0%;
  z-index: 999;
}

[data-aos="language_learning_animation"] {
  opacity: 0;
  margin-left: -550px;
  transform: rotate(-90deg);
  transition-property: opacity, margin-left, transform;
}

[data-aos="language_learning_animation"].aos-animate {
  opacity: 1;
  margin-left: 0;
  transform: rotate(0);
}