@import url('./variables.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.google_sans {
  font-family: 'Google Sans';
}

.prompt_sans {
  font-family: 'Prompt', sans-serif;
}

span,
strong,
small,
article,
p {
  line-height: 27px;
}

.center {
  margin: auto;
  display: block;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

/* scrollbar */
.scrollbar-style {
  overflow-y: auto;
}

body::-webkit-scrollbar,
.scrollbar-style::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border-left: 1px solid var(--kobfa-default-color);
}

body::-webkit-scrollbar-thumb,
.scrollbar-style::-webkit-scrollbar-thumb {
  background: conic-gradient(from 201.45deg at 50% 50%, #3D4560 -4.27deg, #d0d6eb 6.38deg, #5c6890 242.51deg, #3D4560 355.73deg, #d0d6eb 366.38deg);
  border-radius: 32.5px;
  /* background:var( --kobfa-primary-gradient); */
  border-left: 1px solid var(--kobfa-default-color);
}

/* text and background color */
/* Modal */
.xlt-modal {
  overflow: hidden;
  max-height: 85%;
}

.xlt-modal:focus {
  outline: none;
}

.xlt-modal .modal-fixed-header {
  position: absolute;
  text-align: right;
  padding: 5px 15px;
  right: 0;
}

.xlt-modal .btn-floating i {
  font-size: 40px;
  text-shadow: var(--kobfa-shadow-text);
}

.xlt-modal .modal-content {
  overflow-y: auto;
  height: 68vh;
}

@media (min-width: 600px) and (max-width: 992px) {
  .xlt-modal .modal-content {
    display: block ruby;
  }
}

@media (max-width: 600px) {
  .xlt-modal {
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
  }

  .xlt-modal .modal-fixed-header {
    width: 100%;
    background: rgb(171 144 181 / 40%);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }

  .xlt-modal .modal-content {
    padding-top: 85px;
    height: 100%;
  }
}

/* Button */
[class*='btn-'] {
  border-radius: 100px;
  box-shadow: var(--kobfa-shadow);
  font-family: 'Prompt', sans-serif;
}

.btn-primary {
  background: var(--kobfa-primary-gradient);
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover {
  color: var(--kobfa-primary-color);
  background-color: white;
}

.flickity-button {
  margin: 0 10px;
  width: 40px !important;
  height: 40px !important;
  background: #ffffff8a !important;
  box-shadow: var(--kobfa-shadow) !important;
  border: 1px solid var(--kobfa-primary-color) !important;
}

.flickity-button .flickity-button-icon {
  color: var(--kobfa-primary-color);
  text-shadow: var(--kobfa-shadow-text);
}

@media (max-width: 992px) {
  .flickity-prev-next-button {
    width: 56px !important;
    height: 56px !important;
    padding: 6px;
    margin: 0;
  }
}

/* exelt button style */
.exelt-button-link {
  border: 1px solid white;
  background: var(--kobfa-bg-button);
  box-shadow: var(--kobfa-shadow);
  text-shadow: var(--kobfa-shadow-text);
  border-radius: 45px;
  height: 55px;
  line-height: 20px;
}

.exelt-button-link img {
  top: 15px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

/* Responsive */
@media (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

/*  overlay fiter blur*/
.overlay-blur {
  /* 2022-05-23 수정 */
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  /* z-index: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  /* 2022-05-23 수정 */
  /* height: 0; */
  height: 100%;
  transition: .3s ease;
}

.overlay-blur.light {
  background: rgba(230, 230, 230, 0.16);
}

.overlay-container:hover .overlay-blur {
  /* height: 100%; */
}

.our-service-large img {
  border-radius: 10px;
}

.our-service-large .overlay-blur {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.our-service-large .overlay-container article {
  top: -105px;
  height: 100px;
}

.our-service-large .flickity-viewport {
  height: 450px;
  /* margin-top: 35px; */
  padding-top: 30px;
}

@media(max-width:600px) {
  .our-service-large img {
    height: 350px;
  }

  .our-service-large .gallery-cell {
    width: 100% !important;
    padding: 25px;
  }

  .meet-large .gallery-cell {
    width: 100% !important;
    padding: 25px;
  }
}

@media (max-width: 992px) {
  .our-service-large .overlay-blur.light {
    height: 100px;
  }

  /* .our-service-large .overlay-container article {
        top: -108px;
    } */
}

@media (min-width:993px) {
  .our-service-large .flickity-prev-next-button {
    /* position: unset;
    top: 120%; */
  }
}

.overlay-container article [class*='-text'],
.overlay-container article .flag-img {
  z-index: 5;
  position: relative;
}

.overlay-container article {
  position: relative;
  top: -110px;
}

.carousel .indicators .indicator-item {
  background-color: var(--kobfa-default-color);
}

.carousel .indicators .indicator-item.active {
  background-color: var(--kobfa-primary-color);
}

/* Text Line */
[class*='clamp-line'] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-line-1 {
  -webkit-line-clamp: 1;
}

.clamp-line-2 {
  -webkit-line-clamp: 2;
}

.clamp-line-3 {
  -webkit-line-clamp: 3;
}

.clamp-line-4 {
  -webkit-line-clamp: 4;
}

/* lang */
.language-btn.active {
  font-weight: bold;
}

/* Flickity Gallery */

@media (min-width:993px) {
  .xlt-flickity .flickity-button.previous {
    left: -90px;
  }

  .xlt-flickity .flickity-button.next {
    right: -90px;
  }
}

/* Partners */
.marquee .slide {
  padding: 0 25px;
}

.marquee .slide img {
  filter: drop-shadow(0px 5.1667px 5.3333px rgba(186, 206, 225, 0.577));
}

@media (max-width:992px) {
  .marquee {
    width: 100% !important;
  }

  .marquee .flickity-button {
    display: none;
  }
}

/* Field */
.input-field>input,
.input-field>textarea {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  text-align: center;
  background-color: white !important;
  border-radius: 25px !important;
  box-shadow: 0px 13.2252px 26.4503px rgba(0, 0, 0, 0.15) !important;
  font-family: 'Prompt', sans-serif;
}

.input-field>textarea {
  min-height: 90px !important;
  padding: 10px;
}

.input-field>input:active,
.input-field>input:focus,
.input-field>textarea:active,
.input-field>textarea:focus {
  background: #f4f0f5 !important;
  outline: none;
}

.input-field>input:focus::placeholder,
.input-field>textarea:focus::placeholder {
  opacity: 0.3;
}

::placeholder {
  color: var(--kobfa-primary-color);
  /* opacity: 0.7; */
  text-align: center;
}

.plyr.plyr--stopped .plyr__controls {
  display: none
}

.plyr--video .plyr__control--overlaid {
  --plyr-control-icon-size: 50px;
  --plyr-color-main: transparent;
  border: 7px solid #ffffff7d;
}

.plyr__control svg {
  fill: #ffffff7d !important;
}

.carousel-item .plyr--video:hover .plyr__control svg,
.carousel-item .plyr--video:hover .plyr__control--overlaid {
  fill: #ffffff7d !important;
  border-color: #ffffff7d;
}

.carousel-item.active .plyr--video:hover .plyr__control svg,
.carousel-item.active .plyr--video:hover .plyr__control--overlaid {
  fill: white !important;
  border-color: white;
}

.plyr--video:hover .plyr__control svg,
.plyr--video:hover .plyr__control--overlaid {
  fill: white !important;
  border-color: white;
}

.plyr__video-wrapper {
  background: transparent !important;
}

.plyr__poster {
  background-color: #f5f4f3;
  background-size: cover;
}

@media (min-width:993px) {
  .plyr__controls {
    display: none;
  }
}

.cover-image {
  height: 750px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.cover-image .container {
  padding-top: 200px;
}

.big-letter-gradient-title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.92rem;
  margin: 1.9466666667rem 0 1.168rem 0;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  background: var(--kobfa-primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.big-letter-primary-title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.big-letter-bg-title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.big-letter-bg-text {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 200;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

.main-title {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.92rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.main-text {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.sub-bg-title {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.28rem;
  margin: 1.52rem 0 0.912rem 0;
  font-weight: 600;
  line-height: normal;
  background-color: var(--kobfa-primary-color);
  color: #FFFFFF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px 0;
}

.image-on-title {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 3.56rem;
  margin: 2.3733333333rem 0 1.424rem 0;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.image-up-title {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.92rem;
  margin: 1.9466666667rem 0 1.168rem 0;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 50px
}

.quote-title {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 600;
  line-height: normal;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.quote-text {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.quote-bg-title {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.quote-small-text {
  display: block;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.15rem;
  margin: 0.7666666667rem 0 0.46rem 0;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.modal-main-title {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 2.28rem;
  margin: 1.52rem 0 0.912rem 0;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.modal-main-text {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.modal-title {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.64rem;
  margin: 1.0933333333rem 0 0.656rem 0;
  font-weight: 600;
  line-height: normal;
  color: var(--kobfa-primary-color);
  margin-top: 0;
  margin-bottom: 0;
}

.modal-text {
  display: block;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.15rem;
  margin: 0.7666666667rem 0 0.46rem 0;
  font-weight: 200;
  line-height: normal;
  color: var(--kobfa-primary-color);
}

.primary-text {
  color: var(--kobfa-primary-color) !important;
}

.secondary-text {
  background: var(--kobfa-primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-primary-color {
  background-color: var(--kobfa-primary-color);
}

.red-gradient {
  background: linear-gradient(136.9deg, #445571 12.99%, #a4c3f6 148.66%);
}

.salmon-gradient {
  background: linear-gradient(270deg, #743C8A 4.69%, #CF665E 90.39%);
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

table.border-collapse-unset {
  border-collapse: unset;
}

.p-0 {
  padding: 0 !important;
}

.p-10 {
  padding: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mtb-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.heading {
  text-transform: uppercase;
}

.js-flickity .gallery-cell {
  width: 32.5%;
  margin-right: 10px;
  counter-increment: gallery-cell;
}

@media (max-width: 600px) {
  .image-on-title {
    font-size: 30px;
  }

  img.intro-image {
    height: 450px !important;
  }

  img.quote_comments_image {
    width: 80px !important;
  }
}

@media (max-width: 750px) {
  .js-flickity .gallery-cell {
    width: 100%;
  }
}

.contact-large {
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}

.contact-large .btn-primary.send-message {
  display: block;
  margin: auto;
}

.contact-large .speak-vector {
  position: absolute;
  left: -300px;
  margin-top: -600px;
  z-index: -1;
}

.contact-large .speak-vector img {
  width: 800px;
  height: 700px;
  transform: rotate(5deg);
}


/* footer */
footer {
  z-index: 1;
  position: relative;
}

footer .social-buttons {
  display: inline-flex;
  text-align: center;
  margin: auto;
}

footer .social-buttons img {
  position: unset;
  z-index: 2;
}

footer .social-buttons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: #ffffff73;
  margin: 10px;
}

footer .social-buttons a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
  z-index: 1;
}

footer .social-buttons a:focus,
footer .social-buttons a:hover {
  color: #fff;
}

footer .social-buttons a:focus::after,
footer .social-buttons a:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

footer .social-buttons a::after {
  background: white;
}

footer p {
  opacity: 0.6;
}

@media only screen and (max-width: 992px) {

  footer,
  footer img,
  footer p {
    text-align: center;
    margin: auto;
    display: block;
  }

  footer .social-buttons {
    margin-bottom: 20px;
  }
}

#scroll-indicator {
  height: 2px;
  margin-bottom: -2px;
  background-color: var(--kobfa-primary-color);
  position: fixed;
  width: 0%;
  z-index: 999;
}

.carousel-fixed-item {
  position: relative;
  top: -100px;
}

@media (max-width:992px) {
  img.about-comments-image {
    margin: auto;
    display: block;
    text-align: center;
    float: unset !important;
    text-align: center;
    margin-bottom: 15px;
  }
}

.staff-row a>img {
  width: 100%;
  object-fit: cover;
}

.staff-row .gallery-cell a,
.staff-row .gallery-cell a>img {
  /* height: 350px; */
  height: 400px;
  display: block;
}

.staff-row a article {
  height: 70px;
}

.staff-row article .flag-img {
  z-index: 5;
  position: relative;
}

.staff-row .overlay-container article {
  top: -70px;
}

@media (min-width:993px) {
  .staff-row .flickity-prev-next-button.previous {
    left: -90px !important;
  }

  .staff-row .flickity-prev-next-button.next {
    right: -90px !important;
  }
}

@media(max-width:750px) {
  .staff-row a>img {
    /* object-position: 0 0; */
  }

  .staff-row .gallery-cell a,
  .staff-row .gallery-cell a>img {
    height: 450px;
  }

  .staff-row .gallery.js-flickity {
    height: 450px !important;
  }

  .staff-row .gallery h6,
  .staff-row .gallery p {
    font-size: 26px;
  }

  .staff-row .overlay-container article {
    top: -60px;
  }

  .overlay-blur {
    height: 70px;
  }

  .staff-row a article {
    height: 60px;
  }
}

@media (max-width: 600px) {
  .our-service-large .slide-touch-enabled .carousel-item {
    padding: 0 170px 0;
  }

  .our-service-large .slide-touch-enabled {
    height: 400px;
  }

  .our-service-large h5 {
    text-align: center;
  }
}

.slide-touch-enabled {
  height: 600px;
}

.video-overlap {
  position: absolute;
  z-index: 300;
  width: 486px;
  height: 273px;
  top: 27px;
  /* background-color: rgba(153, 205, 50, 0.605); */
}

.carousel-item.active .video-overlap {
  display: none;
}

.slide-touch-enabled .carousel-item video {
  width: 100%;
}

.slide-touch-enabled section {
  border-radius: 10px;
}

.slide-touch-enabled .carousel-item {
  width: 700px;
  padding: 0 80px;
  display: inline-table;
}

.carousel.partner-brand .carousel-item,
.carousel.partner-brand .carousel-item>img {
  width: 100px;
}

.carousel.partner-brand {
  margin-top: -30px;
  height: 200px;
}

#prev.btn-floating i,
#next.btn-floating i {
  font-size: 40px;
  text-shadow: var(--kobfa-shadow-text);
}

.button-group {
  position: relative;
  top: 85px;
  width: 600px;
  margin: auto;
}

@media (max-width: 600px) {

  .carousel-large .carousel,
  .carousel-large .carousel-item>img {
    height: 550px !important;
  }

  .slide-touch-enabled section {
    margin: 15px auto;
    width: 90vw;
  }

  .button-group {
    width: 100%;
    padding: 0 15px;
    top: -310px;
  }

  .gray-gradient.ptb-100 {
    padding-bottom: 0;
  }
}

@media (max-width: 540px) {
  .slide-touch-enabled {
    height: 460px;
  }
}

.carousel-large .gallery-cell img {
  object-position: 0 100%;
}

.carousel-large .caption {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

@media(max-width:600px) {

  .carousel-large .flickity-viewport,
  .carousel-large img {
    height: 400px !important;
  }

  .caption h2 {
    font-size: 30px;
  }

  .carousel-large .flickity-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .kobfa-about-large .exelt-button-link {
    margin: 10px 0;
  }
}

.work-large {
  background-color: #ededed;
}

.work-large .tabs {
  display: initial;
  width: 100%;
}

.work-large .tabs .tab {
  text-align: left;
  height: 100%;
}

.work-large .tabs .indicator {
  display: none;
  background: transparent;
}

.work-large .tabs .tab a .card-panel {
  border-radius: 19px;
  text-transform: none;
  margin: 0;
  white-space: normal;
  line-height: 19px;
  padding: 15px;
}

.work-large .tabs .tab a:hover {
  background-color: transparent;
}

.work-large .card-panel,
.work-large .tabs .tab a {
  border-radius: 19px;
  margin: 10px 0;
}

.work-large .tabs .tab a.active {
  background: rgba(81, 26, 102, 0.2);
  -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.work-large video.responsive-video {
  height: 620px;
  margin-top: -95px;
}

.work-large .hide-on-large-only video {
  height: 300px;
  margin: auto;
  display: block;
}

.work-large .hide-on-large-only .card-panel {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 992px) {

  .work-large h3,
  .work-large h5 {
    text-align: center;
  }

  .work-large video.responsive-video {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .work-large .container {
    width: 100%;
  }
}

@-moz-document url-prefix() {
  .work-large {
    background-color: #eaeaea;
  }
}

@media(max-width:600px) {
  .our-service-large .gallery {
    height: 420px !important;
  }
}