:root {
  --kobfa-primary-gradient: -webkit-linear-gradient(65.45deg, #385788 27.67%, #e5ebf0 235.83%);
  --kobfa-default-gradient: linear-gradient(86.17deg, #F4F4F4 5.56%, #E6E6E6 42.47%, #B3B3B3 128.94%);
  --kobfa-primary-color: #3D4560;
  --kobfa-secondary-color: linear-gradient(270deg, #511A66 4.69%, #CC3227 90.39%);

  --kobfa-default-color: #b3b3b3;
  --kobfa-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  --kobfa-shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.25);
  --kobfa-bg-button: linear-gradient(193.27deg, #B4C9DD 36.85%, #E1E1E1 89.06%);


  --exelt-primary-gradient: linear-gradient(221.37deg, #627EAC 22.04%, #B4C9DD 138.54%);
  --exelt-default-gradient: linear-gradient(221.37deg, #627EAC 22.04%, #B4C9DD 138.54%);
  --exelt-primary-color: #627EAC;
  --exelt-secondary-color: #B4C9DD;

  --exelt-default-color: #445571;
  --exelt-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  --exelt-shadow-text: 1px 1px 1px rgba(0, 0, 0, 0.25);
  --exelt-bg-button: linear-gradient(216.99deg, #B4C9DD 36.85%, #E1E1E1 89.06%);
}