@import url('./../variables.css');
.speech-titile {
    width: 40%;
    position: absolute;
    margin-top: -20%;
    margin-left: 5%;
}

.carousel-fixed-item .btn-floating i {
    font-size: 40px;
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: var(--exelt-shadow-text);
}

.carousel-large .carousel,
.carousel-large .carousel-item>img {
    height: 100vh!important;
    object-fit: cover;
}

.carousel-large .carousel-fixed-item {
    top: 30%;
}

.carousel-large .btn-floating {
    border: 3px solid white;
}

.carousel-large tr {
    border-bottom: none;
}

.carousel-large .banner-block {
    position: absolute;
    right: 0;
    bottom: 0;
}


/*  */

.carousel-review {
    height: 550px;
}

.carousel-review .carousel-item video {
    width: 100%;
}

.carousel-review section {
    background-color: whitesmoke;
    box-shadow: var(--exelt-shadow);
    border-radius: 10px;
    color: var(--exelt-primary-color);
    text-align: center;
}

.carousel-review .carousel-item {
    width: 700px;
    height: fit-content;
    padding: 0 80px;
}

.carousel.partner-brand .carousel-item,
.carousel.partner-brand .carousel-item>img {
    width: 100px;
}

.kobfa-about-block {
    background-image: url("./../../images/bg/bg-mountain.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0 5%;
    /* margin-top: -25%; */
}

.kobfa-about-block .speak-vector {
    width: 400px;
    height: 548px;
    overflow: hidden;
    position: absolute;
    right: 0;
    margin-top: 15%;
}

.kobfa-about-block .speak-vector img {
    width: 571px;
    height: 548px;
    transform: rotate(90deg) scaleY(-1);
}


/* How we work */

.work-large {
    background-color: #eeedee;
}

.work-large .tabs {
    display: initial;
    width: 100%;
}

.work-large .tabs .tab {
    text-align: left;
    height: fit-content;
}

.work-large .tabs .indicator {
    display: none;
    background: transparent;
}

.work-large .tabs .tab a .card-panel {
    border-radius: 19px;
    text-transform: capitalize;
    margin: 0;
    white-space: normal;
    line-height: 19px;
}

.work-large .tabs .tab a:hover {
    background-color: transparent;
}

.work-large .card-panel,
.work-large .tabs .tab a {
    border-radius: 19px;
}

.work-large .tabs .tab a.active {
    background: rgba(81, 26, 102, 0.2);
    -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.work-large video.responsive-video {
    height: 450px;
}

.work-large .hide-on-large-only video {
    height: 300px;
    margin: auto;
    display: block;
}

.work-large .hide-on-large-only .card-panel {
    width: 70%;
    margin: auto;
}

.carousel-fixed-item {
    position: relative;
    top: -100px;
}

@media (max-width: 600px) {
    .work-large h3 {
        text-align: center;
    }
}


/*  */

.plyr.plyr--stopped .plyr__controls {
    display: none
}