@import url('./../variables.css');
.speech-titile {
    width: 40%;
    position: absolute;
    margin-top: -20vh;
    margin-left: 3vw;
}

.btn-floating i {
    font-size: 50px;
    /* position: relative;
    top: -3px;
    left: -3px; */
    text-shadow: var(--exelt-shadow-text);
}

.carousel-large .carousel,
.carousel-large .carousel-item>img {
    height: 100vh!important;
    object-fit: cover;
}

.carousel-large .carousel-fixed-item {
    top: 30%;
}

.carousel-large .btn-floating {
    border: 3px solid white;
}

.carousel-large tr {
    border-bottom: none;
}

.carousel-large .banner-block {
    position: absolute;
    right: 0;
    bottom: 0;
}


/*  */

.carousel-review {
    height: 600px;
}

.carousel-review .carousel-item video {
    width: 100%;
}

.carousel-review section {
    border-radius: 10px;
}

.carousel-review .carousel-item {
    width: 700px;
    height: fit-content;
    padding: 0 80px;
}

.carousel.partner-brand .carousel-item,
.carousel.partner-brand .carousel-item>img {
    width: 100px;
}

.carousel.partner-brand {
    margin-top: -80px;
    height: 300px;
}

@media (max-width: 600px) {
    .carousel-review section {
        margin: 50px auto auto;
        width: 90vw;
    }
}


/*  */

.kobfa-about-block {
    background-image: url("./../../images/bg/bg-mountain.svg");
}

.kobfa-about-block .speak-vector {
    width: 400px;
    height: 548px;
    overflow: hidden;
    position: absolute;
    right: 0;
    margin-top: 15%;
}

.kobfa-about-block .speak-vector img {
    width: 571px;
    height: 548px;
    transform: rotate(90deg) scaleY(-1);
}


/* How we work */

.work-large {
    background-color: #eeedee;
}

.work-large .tabs {
    display: initial;
    width: 100%;
}

.work-large .tabs .tab {
    text-align: left;
    height: fit-content;
}

.work-large .tabs .indicator {
    display: none;
    background: transparent;
}

.work-large .tabs .tab a .card-panel {
    border-radius: 19px;
    text-transform: capitalize;
    margin: 0;
    white-space: normal;
    line-height: 19px;
}

.work-large .tabs .tab a:hover {
    background-color: transparent;
}

.work-large .card-panel,
.work-large .tabs .tab a {
    border-radius: 19px;
}

.work-large .tabs .tab a.active {
    background: rgba(81, 26, 102, 0.2);
    -moz-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
    box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.work-large video.responsive-video {
    height: 450px;
}

.work-large .hide-on-large-only video {
    height: 300px;
    margin: auto;
    display: block;
}

.work-large .hide-on-large-only .card-panel {
    width: 70%;
    margin: auto;
}

.carousel-fixed-item {
    position: relative;
    top: -100px;
}

@media (max-width: 600px) {
    .work-large h3 {
        text-align: center;
    }
}


/*  */

.plyr.plyr--stopped .plyr__controls {
    display: none
}


/*  */


/* Staff Review */

.staff-large-block a>img {
    width: 100%;
    object-fit: cover;
}

.staff-large-block .tabs .tab,
.staff-large-block a>img,
.staff-large-block .tabs .tab a {
    height: 24vw;
    margin-bottom: 15px;
}

.staff-large-block .tabs .tab a {
    padding: 0 0 0 15px;
}

.kobfa-gray {
    margin: auto;
    display: block;
}


/* .staff-large-block .tabs {
    display: contents;
}

.staff-large-block .tabs .tab a:focus.active {
    background-color: transparent;
}

.staff-large-block .tabs .indicator {
    position: relative;
    display: none;
}

.staff-large-block .cards-modal section {
    background-color: white;
    box-shadow: var(--exelt-shadow);
    padding-right: 0;
}

.col.cards-container-scroll {
    padding-right: 0;
    overflow: auto;
}

.cards-container-scroll,
.staff-large-block .cards-modal section {
    height: 45vw;
}

.staff-large-block .cards-modal.review-default img {
    display: block;
    margin: auto;
}

.staff-large-block section .review-content {
    color: var(--exelt-primary-color);
    overflow-y: auto;
    height: 87%;
    width: 100%;
    padding-top: 0;
    text-align: left;
} */


/* .staff-large-block .tabs .tab a article {
    height: 60px;
    position: relative;
    top: -95px;
    line-height: 20px;
}

.staff-large-block .tabs .flag-img,
.staff-large-block .tabs a span,
.staff-large-block .tabs a p {
    z-index: 5;
    position: relative;
}

.overlay-container .active .overlay-blur {
    height: 100%;
} */

.staff-large-block a article {
    height: 60px;
    position: relative;
    top: -80px;
    line-height: 20px;
}

.staff-large-block .flag-img,
.staff-large-block span,
.staff-large-block p {
    z-index: 5;
    position: relative;
}


/* .staff-large-block .overlay-container .active .overlay-blur {
    height: 100%;
} */

.staff-large-block .carousel-fixed-item {
    top: -250px;
}

@media only screen and (max-width: 600px) {
    /* .col.cards-container-scroll {
        overflow-y: hidden;
    }
    .staff-large-block .tabs .tab,
    .staff-large-block a>img,
    .staff-large-block .tabs .tab a {
        height: 300px;
    }
    .staff-large-block .tabs .tab a {
        padding: 10px;
    }
    .staff-large-block .cards-modal section {
        position: absolute;
        top: 0;
        z-index: 100;
        height: 100%;
        left: 0;
    }
    .staff-large-block .carousel-fixed-item {
        top: -150px;
    } */
}

@media only screen and (max-width: 992px) {
    .staff-large-block .tabs .flag-img {
        position: absolute;
        top: -37px;
        left: 10px;
    }
}